/* Imposta l'altezza della pagina e del corpo, rimuove i margini e il padding predefiniti, e imposta il colore di sfondo per l'intera pagina */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(245, 245, 245);
}

/* Imposta la larghezza massima del contenitore del modulo di contatto */
.maxDivMail {
    max-width: 675px;
}

/* Imposta il colore di sfondo specifico */
.bk {
    background-color: rgb(245, 245, 245);
}
