/* Imposta l'altezza della pagina e del corpo, rimuove i margini e il padding predefiniti, e imposta il colore di sfondo per l'intera pagina */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap');
body{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(180deg, #042657 0%, #0852bf 47%, #0b8796 95%);
    font-family: 'Work Sans';
}
/* Imposta la larghezza massima del contenitore del modulo di contatto */
.maxDivMail {
    max-width: 700px;
}
/*Spazio sello spot dal H1*/
.span_From_H1{
    margin-top: 50px;
}
/*Line separatrice e grandezza della linea*/
.line_size{
    max-width: 590px;
}
.white_line {
    background-color: white;
}
/*Spazio del h1 h2 dall'inizio della pagina */
.space_top{
    padding: 75px;
}
/*Spazio del nome dall'inizio della pagina */
.space_name{
    padding: 20px;
}
.title{
    font-size: 70px;
}
/*Spazio del modul mail da tutto il resto  */
.span_mail{
    margin-top: 100px;
}
.space_card{
    margin: 0 auto;
    float: none;
    width: 325px;
    width: 450px;
}

h3{
    padding-top: 30px;
    text-align: center;
}
.sendBTN{
    background-color: #042657;
    border: solid 2px white;
}

.sendBTN:hover{
    background-color: #041e42;
    border: solid 3px white;
}
